aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
aiosqlite==0.22.1
alluka==0.3.3
anyio==4.12.1
attrs==25.4.0
brotli==1.2.0
cffi==2.0.0
ciso8601==2.3.3
colorlog==6.10.1
frozenlist==1.8.0
hikari==2.5.0
hikari-arc==2.1.1
idna==3.11
iso8601==2.1.0
multidict==6.7.0
orjson==3.11.5
propcache==0.4.1
pycares==5.0.1
pycparser==2.23
pypika-tortoise==0.6.3
pytz==2025.2
tortoise-orm==0.25.3
typing-extensions==4.15.0
uvloop==0.22.1
yarl==1.22.0
